@import '~styles/root';

.app-post {
    &__title {
        color: $primary-color;
        font-weight: bold;
        font-size: $h2-font-size;
    }
    &__body {
        color: $secondary-color;
        font-size: $h5-font-size;
    }
    
}