@import '~styles/root';

.app-posts {
    &__container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        &__post {
            margin: 5px;
            border: 1px solid $primary-color;
            padding: 10px 20px;
        }
    }
    &__delete-button {
        background-color: #FA7E1E;
    }
    &__loading-image {
        width: 200px;
    }
    .button-loading {
        height: 30px;
        width: auto;
    }
    button {
        display: block;
        width: 200px;
        height: 50px;
        font-size: 20px;
        margin-bottom: 20px;
    }
}
